* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #080808;
    color: #fff;
    padding: 10px 10%;

}

#header{
    width:50%;
    height: 100vh;
    /* background-image: url(images/lakeside.png); */
    background-size: cover;
    background-position: right;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px; 
    height: auto;
    /* border-radius: 500px; */
    /* overflow:hidden;
    object-fit: cover; */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 20px; /* Adjust spacing between links as needed */
}

a {
    text-decoration: none;
    color: inherit;
}

/* Responsive styles - adjust as needed */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        /* margin-left: auto;
        margin-right: auto; */
    }

    nav ul li {
        margin: 10px 0;
    }
}


.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.header-text h1 {
    font-size: 50px;
    max-width: 600px; 
    white-space: nowrap;
    color: #ff5733;
    margin-top: 20px ;
}

.header-text p span {
    margin-top: 10px; 
    color: #f1b207; 
    font-weight: bold;
}

.header-text h1 span {
    display: block; 
    margin-top: 10px; 
    color: #ff5733; 
    font-weight: bold; 
}

.header-text p {
    font-size: 30px;
    margin-bottom: 10px;
}

.header-text h1 span:last-child {
    margin-bottom: 0; 
}


/* ------------------ ABOUT ------------------ */

#about{
    color: #ababab;
    font-size: small;
    font-weight: 200;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 110%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 55%;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
}

.about-col-2 p{
    margin: 20px;
    font-size: smaller;
    font-weight: 100;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width:0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color:#ff004f;
    font-size: 14px;
    font-weight: 400;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;

}




